<ion-view view-title="Body Mass Index">
   <ion-content class="has-header padding">
		<h4>Body Mass Index</h4>
			<p>
				Knowing BMI can help adult men and women understand their overall health. Use the BMI calculator below to determine your body mass index by inputting your height and weight. The BMI calculator uses the following BMI formula: Weight (lb) / (Height (in))² x 703.
			</p>
	<!-- <div class="list card">
  		<div class="item item-image">
  			<img src="img/man.jpg">
  		</div>
	</div> -->
	<!-- <div class="item-divider"></div>

	<div class="item">
		<div class="item-content">Your Height</div>
  			<div class="item range range-positive">
    		<i class="icon ion-ios-sunny-outline"></i>
    		<input type="range" name="volume" min="1" max="8" value="33">
    		<i class="icon ion-ios-sunny"></i>
  		</div>
	</div>

	<label class="item ">
    <div class="item-content">Wave intensity</div>
    <div class="range range-positive">
        <i class="icon ion-minus-circled"></i>
        <input type="range" name="volume" min="1" max="8" value="4">
        <i class="icon ion-plus-circled"></i>
    </div>
</label> -->
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>

</div>
  </ion-content>
</ion-view>