<ion-view view-title="Body Mass Index">
<ion-content ng-controller="BmiCtrl" class="has-header padding bg">
<h4>What is BMI?</h4>
<p class="paragraph">
  Knowing BMI can help adult men and women understand their overall health. Use the BMI calculator below to determine your body mass index by inputting your height and weight.
</p>
	<!-- <div class="list card">
  		<div class="item item-image">
  			<img src="img/man.jpg">
  		</div>
   </div> -->
   <form name="bmiform" novalidate>

    <div class="card list">
          <!-- <label class="item item-input">
              <span class="input-label"></span>
              <input type="text" name="weight" placeholder="Enter you Weight" ng-model="input.weight" required />
            </label> -->
            <div class="item item-divider">
              Enter your weight
            </div>

            <!-- <div class="item item-text-wrap"> -->
              <label class="item item-input">
               <input type="text" placeholder="Pounds" name="weight" ng-model="weight.number" >
               <!-- <span ng-show="!weight.validity">Value is invalid</span> -->
             </label>
           <!-- </div> -->
  </div>
  <div class="card list">
           <div class="item item-divider">
            Enter your Height
          </div>
          <div class="row">
            <div class="col col-50">
             <!-- <div class="card list"> -->
               <label class="item item-input item-select">
                <div class="input-label">
                 Feet
               </div>

               <select name="feet" ng-model="data.feet">
                <!-- <option value="">Select</option> -->
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option selected>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
               </select>
             </label>
           <!-- </div> -->
         </div>
         <div class="col col-50">
          <!-- <div class="card list"> -->
           <label class="item item-input item-select ">
            <div class="input-label">
             Inches
           </div>

           <select name="inches" ng-model="data.inches">
            <!-- <option value="">Select</option> -->
            <option>0</option>
             <option selected>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
             <option>6</option>
             <option>7</option>
             <option>8</option>
             <option>9</option>
             <option>10</option>
             <option>11</option>
             <option>12</option>
           </select>
         </label>
       <!-- </div> -->
     </div>
   </div>
 </div>

 <!-- <div class="padding">
    <p ng-show="bmiform.weight.$error.required">*Weight is Required</p>
    <p ng-show="bmiform.weight.$invalid && !bmiform.weight.$pristine">
     * Weight should be a valid number</p>
 </div> -->
 <div class="button-bar">
      <a class="button button-calm" ng-disabled="bmiform.$invalid" ng-click="submit(weight.number,data.feet,data.inches)">Calculate BMI</a>
      <a class="button button-assertive" ng-click="resetFields()">Reset</a>
    </div>
    <!-- <nvd3 options="vm.options" data="vm.data"></nvd3> -->
</form>

      <!-- <div class="modal" ng-if="healthysmiley">
        <header class="bar bar-header bar-calm">
          <h1 class="title">I'm A Modal</h1>
          <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
          <p>Amazing Your are healthy</p>
          <img class="full-image animate-if" alt="Happy Smile" src="img/Spongebob.svg">
          <p>
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          </p>
        </content>
      </div> -->
     <!--  <img class="full-image animate-if" alt="Happy Smile" src="img/Spongebob.svg" ng-if="healthysmiley"> -->

      <!-- <img class="full-image animate-if" src="img/smiley-6.svg" alt="medium Smile" ng-if="underweight"> -->

      <!-- <img class="full-image animate-if" src="img/smiley-7.svg" alt="Sad Smile" ng-if="overweight"> -->
<!-- <div class="row">
  <div class="col">
    <div class="button-bar">
      <a class="button button-calm">Calculate BMI</a>
      <a class="button button-assertive">Reset</a>
    </div>
  </div>
</div> -->
</ion-content>
</ion-view>