<ion-view view-title="Body Metabolic Rate">
	<ion-content class="has-header padding">
		<h4>Body Metabolic Rate </h4>
			<p>
				Use our calorie-intake calculator to determine your daily caloric needs based on your height, weight, age and activity level. In addition to determining the calories needed to maintain weight, use this as a calorie burner calculator and figure out how many calories you need to burn in order to drop pounds. Then use the nutritional needs calculator and figure out how to break those calories into carbs, proteins and fat.
			</p>
	</ion-content>
</ion-view>