<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!-- <ion-tabs class="tabs-icon-top tabs-color-active-dark tabs-calm"> -->
<ion-tabs class="tabs-icon-top tabs-calm">

  <!-- BMI Tab ion-ios-body-->
  <ion-tab title="BMI" icon="ion-ios-body" href="#/tab/bmi">
    <ion-nav-view name="tab-bmi"></ion-nav-view>
  </ion-tab>

  <!-- Body Fat Tab -->
<ion-tab title="Body Fat" icon="ion-speedometer" href="#/tab/bodyfat">
    <ion-nav-view name="tab-bodyfat"></ion-nav-view>
  </ion-tab>

  <!-- BMR Tab -->
  <ion-tab title="BMR" icon="ion-android-bicycle" href="#/tab/bmr">
    <ion-nav-view name="tab-bmr"></ion-nav-view>
  </ion-tab>

  <!-- Nutrition Tab -->
  <ion-tab title="Nutrition" icon="ion-android-restaurant" href="#/tab/nutrition">
    <ion-nav-view name="tab-nutrition"></ion-nav-view>
  </ion-tab>


  <!-- Ideal Weight Tab -->
  <ion-tab title="Ideal Weight" icon="ion-ios-gear" href="#/tab/idealweight">
    <ion-nav-view name="tab-idealweight"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab
  <ion-tab title="Account" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->

  <ion-tab title="Heart Rate" icon="ion-ios-pulse-strong" href="#/tab/heartrate">
    <ion-nav-view name="tab-heartrate"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Calorie Intake Rate" icon="ion-ios-pulse-strong" href="#/tab/heartrate">
    <ion-nav-view name="tab-heartrate"></ion-nav-view>
  </ion-tab>
</ion-tabs>
