/* Empty. Add your own CSS if you like */
.bg{
	background-color: #333 !important;
}
.splash{
	background: url(../img/skyline.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.item h4{
	font-size: 1.2rem;
	font-weight: bold;
	color:#417D9A;
}

.title.title-center.header-item{
	color:#333 !important;
}